.reset-page {
  min-height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-card {
  background: white;
  width: 420px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.reset-card h1,
.reset-card h2 {
  margin-bottom: 20px;
}

.reset-card h1 {
  color: black;
}

.reset-card p {
  margin-bottom: 25px;
  color: #555;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.reset-btn {
  width: 100%;
  padding: 12px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset-btn:hover {
  opacity: 0.9;
}

.footer-text-reset-page {
  text-align: center;
}

@media (max-width: 1024px) {
  .reset-card {
    margin-top: 10%;
  }
}

@media (max-width: 480px) {
  .reset-card {
    max-width: fit-content;
  }
}
